{% extends "cti/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
<div class="col-md-8">
<div class="card mt-4">
        <div class="card-header text-center bg-light text-dark">
            <legend class="border-bottom mb-4-center">Welcome back!</legend>
        </div>

<div class="card-body">
<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success" style="position: right" type="submit">Log in</button>
            </div>
        </form>
    </div>
</div>
</div>

<div class="card-footer text-center bg-light text-dark">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't have an account? <a class="ml-2" href="{% url 'cti-register' %}">Register now</a>
                </small>
            </div>
        </div>
    </div>
</div>

</div>
</div>

{% endblock content %}