{% extends "cti/base.html" %} 
{% block content %}

<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <h1>Profile details</h1>
            <br />
            <div class="container">
                {% if user.userprofile.image %}
                <img src="{{ 'user.userprofile.image.url' }}" width="240"> 
                {% endif %}
                <!-- ne radi -->
                {% if user.userprofile.security == userprofile.security.SECURITY_LEVEL.Confidential %}
                <button class="btn btn-success ml-3">Confidential</button>
                {% elif user.userprofile.security == userprofile.security.SECURITY_LEVEL.Secret %}
                <button class="btn btn-warning ml-3">Secret</button>
                {% elif user.userprofile.security == userprofile.security.SECURITY_LEVEL.Top_Secret %}
                <button class="btn btn-danger ml-3">Top Secret</button>
                {% endif %}
                <p>Security Clearance: {{ user.userprofile.security }}</p>
                <p>Username: {{ user }}</p>
                <p>First name: {{ user.first_name }}</p>
                <p>Last name: {{ user.last_name }}</p>
                <p>Employee status: {{ user.userprofile.employee_status }}</p>
                <hr>
                <p>Email: {{ user.email }}</p>
                <p>Phone number: {{ user.userprofile.phone_no }}</p>
                <p>Address: {{ user.userprofile.address }}</p>
                <p>City: {{ user.userprofile.city }}</p>
            
            </div>
        </div>
    </div>
</div>

{% endblock content%}
