{% extends "cti/base.html" %}
{% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <h1>Search</h1>
            <!--TODO: Implement search by category drop down menu (DONE)
                      Selected option stays selected after search?-->

            <form method="get">
                {% csrf_token %}
                <select class="form-control mb-3" name="searchCategory">
                    <option value="ipAddress">IP address</option>
                    <option value="countryCode">Country Code</option>
                    <option value="countryName">Country Name</option>
                    <option value="hostname">Hostname</option>
                    <option value="city">City</option>
                    <option value="region">Region</option>
                    <option value="org">Org</option>  
                    <option value="postal">Postal</option>
                    <option value="timezone">Timezone</option>
               </select>
                    <div class="input-group mb-3">
                        <input type="text" name="searchInput" class="form-control" placeholder="What you want to find?">
                        <button type="submit" class="btn btn-info ml-3">Search</button>
                    </div>
                   
                </div>
            </form>
            <div style="overflow: scroll; white-space: nowrap;">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">IP address</th>
                        <th scope="col">Country Code</th>
                        <th scope="col">Country Name</th>
                        <th scope="col">Hostname</th>
                        <th scope="col">City</th>
                        <th scope="col">Region</th>
                        <th scope="col">Org</th>
                        <th scope="col">Postal</th>
                        <th scope="col">Timezone</th>
                        </tr>
                    </thead>
                    <tbody>    
                    {% for ip in ips %}
                        <tr>
                            <th scope="row">{{ip.id}}</th>
                            <td>{{ip.ip_address}}</td>
                            <td>{{ip.country}}</td>
                            <td>{{ip.countryname}}</td>
                            <td>{{ip.hostname}}</td>
                            <td>{{ip.city}}</td>
                            <td>{{ip.region}}</td>
                            <td>{{ip.org}}</td>
                            <td>{{ip.postal}}</td>
                            <td>{{ip.timezone}}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock content%}
