{% extends "cti/base.html" %} {% block content %}
<div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <h1>Dodaj Apache log</h1>
            <br />
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                pharetra diam eget finibus imperdiet.
            </p>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input
                            type="file"
                            class="custom-file-input"
                            id="inputGroupFile02"
                        />
                        <label class="custom-file-label" for="inputGroupFile02"
                            >Odaberite datoteku</label
                        >
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="">Prenesi</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}
