table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;

}
mat-card{
  background-color: rgb(66, 66, 68);
}
#home-page-container{
  display:flex !important;
  height:100% !important;
  width:100% !important;
  flex-direction: column !important;
  padding:20px !important;
}
.header-container{
  align-self: center;
  flex: 20% !important;
}
.table-container{
  flex: 30% !important;
}
.export-container{
  align-self: center;
  flex: 50% !important;
}
#welcome-container{
  display:flex !important;
}
#table-filter-input{
  width:30%;
}
