<div fxFlex="100" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px" id="home-page-container">

  <div fxLayout="row" fxLayoutAlign="space-around stretch" id="welcome-container">
    <mat-card fxFlex="50" id="welcome-card-1" style="margin-right: 10px;">
        <mat-card-title>
            Welcome {{currentUser.username}}
        </mat-card-title>
        <mat-card-content>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae malesuada ligula, eget imperdiet odio. Nunc posuere, massa in luctus dignissim, metus elit luctus enim, non consectetur velit dui a quam. Nunc pulvinar massa ac enim hendrerit tincidunt. Proin nec orci volutpat, euismod velit sit amet, fermentum eros. Sed congue vestibulum risus, eget gravida purus volutpat eget. Fusce id risus nisl. Aenean fringilla aliquet sapien, a ullamcorper mi lacinia at. Proin arcu ante, ultrices non ex ut, ultricies scelerisque dolor.
            </p>
        </mat-card-content>


    </mat-card>

    <mat-card fxFlex="50" id="welcome-card-2">
        <mat-card-title>
            Statistics
        </mat-card-title>
        <mat-card-content>
            <h3>
                Last week
            </h3>
            <ul>
                <li>Total IPs:  124153</li>
                <li>Total Files: 244</li>
                <li>Maliscious IPs: 241</li>
            </ul>
            <h3>
                Last 24h
            </h3>
            <ul>
                <li>Total IPs:  7243</li>
                <li>Total Files: 6</li>
                <li>Maliscious IPs: 4</li>
            </ul>
        </mat-card-content>
    </mat-card>

  </div>

  <div fxFLex="20" class="table-container">
      <mat-card>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Server Name Column -->
          <ng-container matColumnDef="server name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Server Name </th>
            <td mat-cell *matCellDef="let row"> {{row.serverName}}% </td>
          </ng-container>

          <!-- File Name Column -->
          <ng-container matColumnDef="file name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
            <td mat-cell *matCellDef="let row"> {{row.fileName}} </td>
          </ng-container>

          <!-- File Size Column -->
          <ng-container matColumnDef="file size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> File Size </th>
            <td mat-cell *matCellDef="let row"> {{row.fileSize}} </td>
          </ng-container>
          <!-- Date Uploaded Column -->
          <ng-container matColumnDef="date uploaded">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Uploaded </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.dateUploaded}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </mat-card>
  </div>


</div>
