<div (window:resize)="onResize($event)">

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side"
    #drawer
    clas="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary">CTI</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/home" routerLinkActive="active"> Home </a>
      <a mat-list-item routerLink="/analyse" routerLinkActive="active"> Analyse </a>
      <a mat-list-item routerLink="/file-upload" routerLinkActive="active"> File Upload </a>
      <a mat-list-item routerLink="/uploaded-files" routerLinkActive="active"> Uploaded Files </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav"
      mat-icon-button (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span center="center" routerLink="/analyse" routerLinkActive="active">ANALYSE</span>
    </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>



</div>
