table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;

}
.uploaded-files-container{
  display:flex;
  padding:20px !important;
}
.header-container{
  flex: 1 1 auto !important;
}
.page-container{
  flex:1 1 auto !important;
}
.export-container{
  flex:1 1 auto !important;
}
